<h1>近くのレストランは</h1 >
<div class="stores-list">
  <% @stores.each do |store| %>
    <div class="store-photo">
      <%= link_to image_tag(store["photo"]["pc"]["m"], alt: store["name"]),
      store_path(id: store["id"])
      %>
    </div>
    
    <div class="store-item">
      <div class="store-name"><%= link_to store["name"], store_path(id: store["id"]) %></div>
      <div class="store-access"><%= store["access"] %></div>
    </div>
  <% end %>

  <div class="page"><%= paginate @stores %></div>

</div>