<h1>近くのレストランは</h1 >
<% @stores.each do |store| %>
  <li>
    <%= link_to store["name"], store_path(id: store["id"]) %>
  </li>
  <li>
    <%= store["access"]%>
  </li>
    <li>
  <%= image_tag store["photo"]["pc"]["m"]%>
  </li>
<% end %>