// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.detail-name{
    font-size: 20px;
}

.stores-list{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}


.store-item,.store-photo, .page{
  text-align: center;
}

.store-access{
  padding-bottom:3em
}

.store-name{
    font-size: 20px;
}

.detail{
  font-size: 20px;
  line-height: 1.5em;
}

.detail-name{
  font-size: 30px;
  line-height: 1.5em;
}

